<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}GameStream{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {# ===== MESSAGES FLASH GLOBAUX ===== #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="container pt-3">
                    <div class="alert alert-{{ label == 'success' ? 'success' : 'danger' }} alert-dismissible fade show text-center" role="alert">
                        <i class="bi bi-check-circle"></i> {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}

        {# Bootstrap JS (pour dropdowns, modals, navbar, etc.) #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
